:root {
    --primary-font: 'Roboto', sans-serif;
    --accent-color:#2196F3;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

img {
    display: block;
}

button {
cursor: pointer; 
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}       
body {
    font-family: var(--primary-font);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


    
                                     /*===== DOCUMENT PAGE ======*/

                                    /* ======= DOCUMENT HEADER ==========*/
.page-header{
    padding-bottom: 24px;
    padding-top: 24px ;
    border-bottom: 1px solid;
}

.header-container{
  display:flex;
  align-items:center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-nav {
    display:flex;
    align-items: center;
}

.logo-header {
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
       color: var(--accent-color);
    text-decoration: none;
    margin-right: 93px;
}


.logo-color-header {
        color: #000000;
        /* padding-top: 24px;
        padding-bottom: 24px; */
}


.menu {
    display:flex;
    align-items: center;
    margin-left: auto;
}

.menu-item:not(:last-child) {
margin-right: 50px;
}

.menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
       color: #212121;
    
}
.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contact-email{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.contact-email:hover,
.contact-email:focus{
    color: var(--accent-color);
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-right: 15px;
    
}

.contact-phone-number:hover,
.contact-phone-number:focus {
color: var(--accent-color);
}

                                  /* ================  HERO   ========== */
                                  

.modal-btn {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 37px;
        padding-left: 37px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: #FFFFFF;
        background: var(--accent-color);
        font-family: inherit;
        letter-spacing: 0.06em;
        border-radius: 4px;
        margin-top: 30px;
        }

.hero-title {
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        width: 691px;
       
}
.color-hero {
background: #2F303A;
}

.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

                                 /* ===============  ADVANTAGES   =========== */
 
 
 .list{
    display: flex;
    flex-basis: calc((100% - 90px)/4);
   
 }
 
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

.emoloyees-section{
    background-color: #FFFFFF;
    
 }

 .advantages-description{
    width: 270px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px)/4);
 }


 .subtitle {
   
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.subtitle-text{
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 10px;
}

                                   /*============= WHAT WE ARE DOING ============*/

.secondary-subheading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        padding-bottom: 50px;
    
}
.list{
    justify-content: center;
    display: flex;
    gap: 30px;
    
}



                                    /* =============  OUR TEAM  ========= */
.employees-list{
    list-style: none;
}

.team-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #F5F4FA;
}

.employees-title{
    margin-bottom: 50px;
    margin-top: 94px;
}



.employees-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}

.employees-card{
    flex-basis: calc((100% - 90px)/4);
    
}

.empolyees-card-description{
    
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #FFFFFF;
}

.names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
                                    }

.position {
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #757575;
}
                                 
                                     /* ===========   FOOTER  ========= */

   

.logo-footer{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        text-decoration: none;
        /* display: block; */
        /* margin-right: 93px; */
        margin-bottom: 20px;
}
.menu-item {
    display: block;
}
 .menu-item:not(:last-child) {
margin-bottom: 10px;
 }

    .contacts {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}
.logo-color-footer {
    color: #FFFFFF;
}
.contact-detail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-color {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
                               /*======== END OF DOCUMENT PAGE ========*/

                             /* ======= === PORTFOLIO PAGE === ======== */
                               
                /* =============  =======  PORTFOLIO HERO  ======   ============ */
    .list{
        display: flex;
        justify-content: center;
    }

.portfolio-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: #212121;
        font-family: inherit;
        
    }
.portfolio-btn:hover,
.portfolio-btn:focus {
        color: #FFFFFF;
        background: var(--accent-color);
}
 
                                      /* ======== PORTFOLIO PROJECTS =========*/                      
.portfolio-project-lists {
    flex-basis: calc((100% - 60px)/3);
 }
                                    
.portfolio-lists {
    display: flex;
     flex-wrap: wrap;
     gap: 30px;
    }

.project-name-cards {
   border:1px solid #EEEEEE;
   border-top: none;
    padding-top: 30px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height:2.0;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-category {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
} 
                              /* ======== ======  END OF PORTFOLIO  PAGE ====== ========== */