:root {
    --primary-font: 'Roboto', sans-serif;
    --accent-color:#2196F3;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

img {
    display: block;
}

button{
cursor: pointer;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}       
body {
    font-family: var(--primary-font);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-bottom: 15px;
}


    
                                     /*===== DOCUMENT PAGE ======*/

                                    /* ======= DOCUMENT HEADER ==========*/
.page-header{
    padding-bottom: 19px;
}

.header-container{
  display:flex;
  align-items:center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-nav {
    display:flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
       color: var(--accent-color);
    text-decoration: none;
    /* margin-right: 93px; */
}


.logo-color-header {
        color: #000000;
        /* padding-top: 24px;
        padding-bottom: 24px; */
}


.menu {
    display:flex;
    align-items: center;
    margin-left: auto;
}

.menu-item:not(:last-child) {
margin-right: 50px;
}

.menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
       color: #212121;
    
}
.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contact-email{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.contact-email:hover,
.contact-email:focus{
    color: var(--accent-color);
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-right: 15px;
    
}

.contact-phone-number:hover,
.contact-phone-number:focus {
color: var(--accent-color);
}

                                  /* ================  HERO   ========== */
                                  
.hero-section {

}

.modal-btn {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 37px;
        padding-left: 37px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: #FFFFFF;
        background: var(--accent-color);
        font-family: inherit;
        letter-spacing: 0.06em;
        border-radius: 4px;
        }

.hero-title {
        padding-top: 200px;
        padding-bottom:280px;
        padding-right:452px;
        padding-left:452px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
       
}
.color-hero {
background: #2F303A;
}

                                 /* ===============  ADVANTAGES   =========== */
 .emoloyees-section{
    background-color: #FFFFFF;
   



 }

 .subtitle {
   
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.subtitle-text{
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}

                                   /*============= WHAT WE ARE DOING ============*/

.secondary-subheading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

                                    /* =============  OUR TEAM  ========= */

.employees-title{
    margin-bottom: 50px;
}
.employees-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.employees-card{
    flex-basis: calc((100% - 90px)/4);
    
}


.empolyees-card-description{
    border: 1px solid #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;

}

.names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
                                    }

.position {
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #757575;
}
                                 
                                     /* ===========   FOOTER  ========= */

.contacts {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}
.logo-color-footer {
    color: #FFFFFF;
}
.contact-detail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-color {
    background: #2F303A;
}
                               /*======== END OF DOCUMENT PAGE ========*/

                             /* ======= === PORTFOLIO PAGE === ======== */
                               
                /* =============  =======  PORTFOLIO HERO  ======   ============ */
                    

.portfolio-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: #212121;
        font-family: inherit;
        
    }
.portfolio-btn:hover,
.portfolio-btn:focus {
        color: #FFFFFF;
        background: var(--accent-color);
}
 
                                      /* ======== PORTFOLIO PROJECTS =========*/                      
.portfolio-project-lists {
    flex-basis: calc((100% - 60px)/3);
 }
                                    
.portfolio-lists {
    display: flex;
     flex-wrap: wrap;
     gap: 30px;
    }

.project-name-cards {
   border:1px solid #EEEEEE;
   border-top: none;
    padding-top: 30px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height:2.0;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-category {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
} 
                              /* ======== ======  END OF PORTFOLIO  PAGE ====== ========== */